version: '3.8'

services:

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: maths
      POSTGRES_USER: labuser
      POSTGRES_PASSWORD: labpass
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data

  app:
    build: .
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/maths
      SPRING_DATASOURCE_USERNAME: labuser
      SPRING_DATASOURCE_PASSWORD: labpass
    ports:
      - "8080:8080"

volumes:
  dbdata:
