spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/maths
    username: labuser
    password: labpass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

logging:
  file:
    name: logs/app.log
  level:
    root: INFO
